<div class="h-full flex items-center justify-center">
    <div
        class="flex w-fit p-2 rounded-lg justify-center gap-x-3 lg:gap-x-16 bg-gradient-to-tl to-slate-700 ring-1 ring-slate-800"
    >
        <div class="flex">
            <form
                [formGroup]="loginForm"
                (ngSubmit)="login()"
                class="bg-gradient-to-br from-[#201d32] to-[#082030] rounded-md p-5 w-[22rem] lsm:w-[26rem] lg:w-[25rem]"
            >
                <h1
                    class="text-slate-400 text-center font-onest tracking-wider font-bold text-2xl mb-12"
                >
                    Sign In
                </h1>

                <div class="grid gap-10">
                    <!-- Email Input Field -->
                    <div class="form-group relative">
                        <input
                            type="email"
                            formControlName="email"
                            id="email"
                            (focus)="handleFocus('email')"
                            (blur)="handleBlur('email')"
                            class="w-full bg-slate-950 pl-3 pr-10 text-slate-300 border-none outline-none rounded-lg border-[1px] py-3.5"
                            [ngClass]="{
                                'ring-1 ring-cyan-600':
                                    focusField['email'] ||
                                    loginForm.get('email')?.value,
                                'ring-1 ring-slate-800': !focusField['email']
                            }"
                        />

                        <label
                            for="email"
                            class="absolute left-4 text-[15px] transition-all"
                            [ngClass]="{
                                'left-2 -top-[1.2rem] text-xs font-bold font-montserrat text-slate-300':
                                    focusField['email'] ||
                                    loginForm.get('email')?.value,
                                'top-1/2 -translate-y-1/2 text-slate-400':
                                    !focusField['email'] &&
                                    !loginForm.get('email')?.value
                            }"
                            >Email</label
                        >

                        <div
                            *ngIf="
                                loginForm.get('email')?.invalid &&
                                loginForm.get('email')?.touched
                            "
                            class="text-red-500 text-sm absolute -bottom-[1.1rem] right-2"
                        >
                            {{
                                loginForm.get("email")?.hasError("email")
                                    ? "Invalid email address"
                                    : "Email is required"
                            }}
                        </div>
                    </div>

                    <!-- Password Input Field -->
                    <div class="form-group relative">
                        <input
                            [type]="isPswdVisible ? 'text' : 'password'"
                            formControlName="password"
                            id="password"
                            (focus)="handleFocus('password')"
                            (blur)="handleBlur('password')"
                            class="w-full bg-slate-950 pl-3 pr-10 text-slate-300 border-none outline-none rounded-lg border-[1px] py-3.5"
                            [ngClass]="{
                                'ring-1 ring-cyan-600':
                                    focusField['password'] ||
                                    loginForm.get('password')?.value,
                                'ring-1 ring-slate-800': !focusField['password']
                            }"
                        />

                        <label
                            for="password"
                            class="absolute left-4 text-[15px] transition-all"
                            [ngClass]="{
                                'left-2 -top-[1.2rem] text-xs font-bold font-montserrat text-slate-300':
                                    focusField['password'] ||
                                    loginForm.get('password')?.value,
                                'top-1/2 -translate-y-1/2 text-slate-400':
                                    !focusField['password'] &&
                                    !loginForm.get('password')?.value
                            }"
                            >Password</label
                        >

                        <span
                            (click)="togglePasswordVisibility()"
                            class="cursor-pointer absolute right-3 top-1/2 -translate-y-1/2 text-black"
                        >
                            <i
                                class="pi text-slate-400"
                                [ngClass]="
                                    isPswdVisible ? 'pi-unlock' : 'pi-lock'
                                "
                            ></i>
                        </span>

                        <div
                            *ngIf="
                                loginForm.get('password')?.invalid &&
                                loginForm.get('password')?.touched
                            "
                            class="text-red-500 text-sm absolute -bottom-[1.1rem] right-2"
                        >
                            {{
                                loginForm.get("password")?.hasError("minlength")
                                    ? "Password must be at least 6 characters"
                                    : "Password is required"
                            }}
                        </div>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="flex items-center justify-between mt-14 gap-x-16">
                    <button
                        type="submit"
                        [disabled]="loginForm.invalid"
                        class="flex items-center justify-center gap-x-2 py-2 rounded-lg bg-[#244164] hover:ring-1 transition-all text-slate-300 w-1/2"
                    >
                        LogIn
                        <div
                            *ngIf="isSubmitting"
                            class="ml-2 animate-spin h-4 w-4 border-2 border-blue-500 border-t-transparent rounded-full"
                        ></div>
                    </button>

                    <button
                        type="reset"
                        [disabled]="loginForm.invalid"
                        class="flex items-center justify-center gap-x-2 py-2 rounded-lg bg-[#244164] hover:ring-1 transition-all text-slate-300 w-1/2"
                    >
                        Reset
                        <div
                            *ngIf="isSubmitting"
                            class="ml-2 animate-spin h-4 w-4 border-2 border-blue-500 border-t-transparent rounded-full"
                        ></div>
                    </button>
                </div>
            </form>

            <div class="w-[20rem] lg:w-[30rem] h-full hidden md:block">
                <!-- Spinner while Lottie is loading -->
                <div
                    *ngIf="isLottieLoading"
                    class="hidden md:flex items-center justify-center h-full"
                >
                    <span
                        style="border-top-color: transparent"
                        class="aspect-square h-10 border-4 border-blue-200 rounded-full animate-spin"
                    ></span>
                </div>

                <!-- Lottie Iframe -->
                <iframe
                    src="https://lottie.host/embed/aacfed6c-8090-48f4-b636-dcf3b9387b9f/TIUiD67yCc.json"
                    class="pr-1 w-full h-full"
                    [class.hidden]="isLottieLoading"
                    (load)="onLottieLoad()"
                ></iframe>
            </div>
        </div>
    </div>
</div>
