<div class=" h-full bg-gray-100 flex items-center justify-center">
    <div
        class="container flex flex-col md:flex-row items-center justify-center gap-12 px-5 text-gray-700"
    >
        <div class="space-y-5 h-full">
            <p class="text-2xl md:text-3xl font-bold font-lato">
                Sorry we couldn't find this page.
            </p>

            <p>
                But don’t worry, you can find plenty of other things on our
                homepage.
            </p>

            <!-- Button to navigate back to the homepage -->
            <div
                class="animate-pulse hover:animate-none px-4 w-fit py-2 text-sm font-medium shadow text-white transition-colors duration-150 cursor-pointer font-mono border border-transparent rounded-lg focus:outline-none focus:shadow-outline-blue bg-blue-600 active:bg-blue-600 hover:bg-blue-700"
                (click)="navigateToHome()"
            >
                Back to homepage
            </div>
        </div>

        <div class="max-w-lg flex items-center justify-center">
            <!-- Show spinner if Lottie is loading -->
            <div
                *ngIf="isLottieLoading"
                class="hidden md:flex items-center justify-center pr-10 w-[20rem] lg:w-[25rem]"
            >
                <span
                    style="border-top-color: transparent"
                    class="aspect-square h-10 border-4 border-blue-700 rounded-full animate-spin"
                ></span>
            </div>

            <!-- Lottie iframe -->
            <iframe
                src="https://lottie.host/embed/f95550d1-48a9-4a80-8eb3-0f9776674662/h2qlSEXLqE.json"
                class="w-[20rem] lg:w-[25rem] aspect-square border-none outline-none"
                (load)="lottieLoaded()"
            ></iframe>
        </div>
    </div>
</div>
