<div class="h-full flex items-center justify-center">
    <div
        class="flex w-fit p-2 rounded-lg justify-center gap-x-3 lg:gap-x-16 bg-gradient-to-tl to-slate-700 ring-1 ring-slate-800"
    >
        <div class="flex gap-x-14">
            <form
                [formGroup]="signupForm"
                (ngSubmit)="signup()"
                class="bg-gradient-to-br from-[#201d32] to-[#082030] rounded-md p-5 w-[22rem] lsm:w-[26rem] lg:w-[31rem]"
            >
                <h1
                    class="text-slate-400 text-center font-onest tracking-wider font-bold text-2xl mb-12"
                >
                    Register
                </h1>

                <div class="grid gap-10">
                    <!-- Iterate over the fields array to generate input fields -->
                    <div
                        *ngFor="let field of formFields"
                        class="form-group relative"
                    >
                        <input
                            [type]="
                                field.icon === 'password'
                                    ? isPasswordVisible
                                        ? 'text'
                                        : 'password'
                                    : field.icon === 'confirmPassword'
                                    ? isConfirmPasswordVisible
                                        ? 'text'
                                        : 'password'
                                    : field.type
                            "
                            formControlName="{{ field.name }}"
                            id="{{ field.name }}"
                            (focus)="handleFocus(field.name)"
                            (blur)="handleBlur(field.name)"
                            class="w-full bg-slate-950 pl-3 pr-10 text-slate-300 border-none outline-none rounded-lg border-[1px] py-3.5"
                            [ngClass]="{
                                'ring-1 ring-cyan-600':
                                    focusField[field.name] ||
                                    signupForm.get(field.name)?.value,
                                'ring-1 ring-slate-800': !focusField[field.name]
                            }"
                        />

                        <label
                            for="{{ field.name }}"
                            class="absolute left-4 text-[15px] transition-all"
                            [ngClass]="{
                                'left-2 -top-[1.2rem] text-xs font-bold font-montserrat text-slate-300':
                                    focusField[field.name] ||
                                    signupForm.get(field.name)?.value,
                                'top-1/2 -translate-y-1/2 text-slate-400':
                                    !focusField[field.name] &&
                                    !signupForm.get(field.name)?.value
                            }"
                        >
                            {{ field.label }}
                        </label>

                        <!-- Toggle password visibility -->
                        <span
                            *ngIf="
                                field.icon === 'password' ||
                                field.icon === 'confirmPassword'
                            "
                            (click)="
                                field.icon === 'password'
                                    ? togglePasswordVisibility()
                                    : toggleConfirmPasswordVisibility()
                            "
                            class="cursor-pointer absolute right-3 top-1/2 -translate-y-1/2 text-black"
                        >
                            <i
                                class="pi text-slate-400"
                                [ngClass]="
                                    field.icon === 'password'
                                        ? isPasswordVisible
                                            ? 'pi-unlock'
                                            : 'pi-lock'
                                        : isConfirmPasswordVisible
                                        ? 'pi-unlock'
                                        : 'pi-lock'
                                "
                            ></i>
                        </span>

                        <div
                            *ngIf="
                                signupForm.get(field.name)?.invalid &&
                                signupForm.get(field.name)?.touched
                            "
                            class="text-red-500 text-sm absolute -bottom-[1.1rem] right-2"
                        >
                            {{
                                field.name === "email"
                                    ? signupForm.get("email")?.hasError("email")
                                        ? "Invalid email address"
                                        : "Email is required"
                                    : field.name === "password"
                                    ? signupForm
                                          .get("password")
                                          ?.hasError("minlength")
                                        ? "Password must be at least 6 characters"
                                        : "Password is required"
                                    : "Field is required"
                            }}
                        </div>
                    </div>
                </div>

                <div class="flex items-center justify-between mt-14 gap-x-16">
                    <button
                        type="submit"
                        [disabled]="signupForm.invalid"
                        class="flex items-center justify-center gap-x-2 py-2 rounded-lg bg-[#244164] hover:ring-1 transition-all text-slate-300 w-1/2"
                    >
                        Register
                        <div
                            *ngIf="isSubmitting"
                            class="ml-2 animate-spin h-4 w-4 border-2 border-blue-500 border-t-transparent rounded-full"
                        ></div>
                    </button>

                    <button
                        type="reset"
                        [disabled]="signupForm.invalid"
                        class="flex items-center justify-center gap-x-2 py-2 rounded-lg bg-[#244164] hover:ring-1 transition-all text-slate-300 w-1/2"
                    >
                        Reset
                        <div
                            *ngIf="isSubmitting"
                            class="ml-2 animate-spin h-4 w-4 border-2 border-blue-500 border-t-transparent rounded-full"
                        ></div>
                    </button>
                </div>
            </form>

            <div class="w-[20rem] lg:w-[28rem] h-full hidden md:block">
                <!-- Spinner while Lottie is loading -->
                <div
                    *ngIf="isLottieLoading"
                    class="hidden md:flex items-center justify-center h-full"
                >
                    <span
                        style="border-top-color: transparent"
                        class="aspect-square h-10 border-4 border-blue-200 rounded-full animate-spin"
                    ></span>
                </div>

                <!-- Lottie Iframe -->
                <iframe
                    src="https://lottie.host/embed/db689947-eadf-4366-8580-774883f23e7f/pRnRZ8YKSx.json"
                    class="pr-1 w-full h-full"
                    [class.hidden]="isLottieLoading"
                    (load)="onLottieLoad()"
                ></iframe>
            </div>
        </div>
    </div>
</div>
