<div>
    <button
        class="fixed bottom-10 right-10 bg-slate-800 p-2 text-white rounded-full flex items-center justify-center hover:rotate-45 hover:shadow-md hover:scale-110 active:scale-100 transition-all"
        (click)="openModal()"
    >
        <i class="pi pi-plus" style="font-size: 1.3rem"></i>
    </button>

    <p-dialog
        header="Save code"
        [modal]="true"
        [(visible)]="isCodebinOpen"
        [style]="{ width: '38rem' }"
    >
        <app-create-bin (saveCodeEmitter)="saveEmittedCode($event)"></app-create-bin>
    </p-dialog>
</div>
